{{define "browse_refs.html"}}{{template "top" .}}
{{template "browse_head" .}}
<h1>Branches &amp; tags</h1>
{{if .Refs}}
<table>
  <thead><tr><th>Ref</th><th></th></tr></thead>
  <tbody>
  {{range .Refs}}
    <tr>
      <td><a href="/{{$.Repo}}/tree/{{.Ref}}">{{.Name}}</a></td>
      <td>{{if ne .Ref $.Ref}}<a href="/{{$.Repo}}/compare/{{$.Ref}}...{{.Ref}}">compare</a>{{else}}default{{end}}</td>
    </tr>
  {{end}}
  </tbody>
</table>
{{else}}
<p>No branches or tags yet.</p>
{{end}}
{{template "bottom" .}}{{end}}
